<div class="main">
  <h3 class="page_heading"><%= @question.title %> <span class="comment_user">by <%= @question.user.last_name %> <%= @question.user.first_name %></span></h2>

  <ul>
    <% @messages.each do |message| %>
      <li class="question_list">
        <div>
          <%= message.text %> <span class="comment_user">by <%= message.user.last_name %></span>
        </div>
        <%= image_tag message.image, class: "message_image" if message.image.attached? %>
      </li>
    <% end %>
  </ul>

  <% if @question.closed == false %>
    <%= form_with model: @message, url: question_messages_path(@question.id), local: true do |f| %>
      <div class="field">
        <%= f.text_area :text, class: "input_comment" %>
        <%= f.file_field :image %>
      </div>
      <%= render "shared/error_messages", model: f.object %>
      <div class="actions">
        <%= f.submit "送信", class: "form_btn" %>
      </div>
    <% end %>
  <% end %>

  <div class="btn_wrapper">
    <div class="default_btn">
      <%= link_to "一覧に戻る", questions_path, class: "btn_inner" %>
    </div>
    <% if @question.closed == false %>
      <div class="default_btn">
        <%= link_to "質問を閉じる", question_messages_path(@question.id, closed: true), class: "btn_inner" %>
      </div>
    <% else %>
      <div class="default_btn">
        <%= link_to "再開する", question_messages_path(@question.id, closed: false), class: "btn_inner" %>
      </div>
    <% end %>
  </div>

</div>