<div class="main">
  <h3 class="page_heading"><%= @question.title %> <span class="comment_user">by <%= @question.user.last_name %> <%= @question.user.first_name %></span></h2>

  <ul>
    <% @messages.each do |message| %>
      <li class="list_default">
        <%= message.text %> <span class="comment_user">by <%= message.user.last_name %></span>
      </li>
    <% end %>
  </ul>

</div>