<div class="form_wrapper">

  <h2 class="page_heading">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= render "shared/error_messages", model: f.object %>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input_default" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード（6文字以上）" %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input_default" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード確認" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input_default" %>
    </div>

    <div class="field">
      <%= f.label :name, "名前（全角）" %><br />
      <%= f.text_field :last_name, placeholder: "例）山田", class: "input_default" %>
      <%= f.text_field :first_name, placeholder: "例）トム", class: "input_default" %>
    </div>

    <div class="field">
      <%= f.label :grade, "学年" %><br />
      <%= f.collection_select(:grade_id, Grade.all, :id, :name, {}, {class:"select_box"}) %>
    </div>

    <div class="actions">
      <%= f.submit "登録", class: "form_btn" %>
    </div>
  <% end %>

</div>