<div class="main">
  <% if current_user.grade_id == 1 %>
    <div class="user_info"><%= @student.grade.name %> <%= @student.last_name %> <%= @student.first_name %></div>
  <% end %>

  <h2 class="page_heading"><%= @result.name %></h2>

  <% @result.subjects.each do |subject| %>
    <%= subject.name %> <%= subject.max_score %>
  <% end %>
</div>