<div class="wrapper">

  <div class="side_bar">
    <ul>
    <% @student.results.each do |result| %>
      <li class="list_default">
        <%= link_to result.name, student_result_path(@student.id, result.id), class: :nav_btn %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="main_right">
    <% if current_user.grade_id == 1 %>
      <div class="user_info"><%= @student.grade.name %> <%= @student.last_name %> <%= @student.first_name %></div>
    <% end %>

    <h2 class="page_heading"><%= @result.name %></h2>

    <table>
      <tr>
        <th class="subject_name">教科</th>
        <th class="subject_score">点数/満点</th>
        <th class="subject_average">平均点</th>
        <th class="subject_rank">順位/人数</th>
      </tr>
      <% @result.subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.score %> / <%= subject.max_score %></td>
          <td><%= subject.average_score %></td>
          <td><%= subject.rank %> / <%= subject.rank_range %></td>
        </tr>
      <% end %>
    </table>

    <div class="default_btn">
      <%= link_to "編集", new_student_result_subject_path(@student.id, @result.id), class: :btn_inner %>
    </div>
  </div>

</div>