<div class="form_wrapper">

  <h2 class="page_heading">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input_default" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "input_default" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "form_btn" %>
    </div>
  <% end %>

</div>